body {margin:0px;
      background-color:whitesmoke;
}

.grid-container {
    display:grid;
    grid-auto-rows:minmax(60px,auto);
    font-family:Arial;
    grid-template-areas: 
        "navbar" 
        "top" 
        "mid" 
        "footer";
}

hr {
    display: block;
    height: 2px;
    width:80em;
    border: 0;
    border-top: 1px solid #ccc;
    padding:1px;
    grid-area:hline;
}
vr {
    display: block;
    height: auto;
    width: 2px;
    border: 0;
    border-left: 1px solid #ccc;
    padding: 1px;
    grid-area:vline;
    justify-self:center;
    margin-top:1em;
}

a { color:white;
    border:0;
    text-decoration:none;
}

icontext{color:grey;}

/*navbar||||||||||||||||||||||||||||||||||||||||||*/
#navbar {
    position: fixed;
    top: 0;
    width:100%;
    grid-area: navbar;
    background-color: #444c59;
    color: white;
    grid-auto-rows: minmax(60px,80px);
    align-items: center;
    display: grid;
    grid-template-areas: ". . logoDropdowns . . search buttons .";
}

    .logoDropdowns {
		grid-area: logoDropdowns;
		align-items:flex-end;
	}
	
	.logoDropdowns > * {
		margin-right: 1em;
	}
	
		.logo {
			font-size: 36px;
			position: center;
		}


	.dropdown {
		position: relative;
		display: inline-block;
	}

		.dropbtn {
			background-color: #4CAF50;
			color: white;
			padding: 12px;
			font-size: 16px;
			border: none;
			width: 120px;
		}

		.dropdown:hover .dropbtn {
			background-color: #3e8e41;
		}

			.dropdown-content {
				display: none;
				position: absolute;
				background-color: #f1f1f1;
				min-width: 160px;
				box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
				z-index: 1;
			}

				.dropdown-content a {
					color: black;
					padding: 12px 16px;
					text-decoration: none;
					display: block;
					background-color: white;
				}

				.dropdown-content a:hover {background-color: #ddd}

				.dropdown:hover .dropdown-content {
					display: block;
				}

	
	.search {
        grid-area: search;
        height:35px;
    }

    .buttons {
        grid-area: buttons;
        margin-left:2em;
        display:grid;
        grid-template-columns:1fr 3fr;
    }
	
        .navImg { width:35px;
                  height:35px;
        }
        .navImgText{
            font-size:12px;
        }
/*top||||||||||||||||||||||||||||||||||||||||||*/
#top {
    grid-area: top;
    background-color: #5d6675;
    color:white;
    grid-template-areas: 
        ". . . head . . ." 
}
    .Head {
        grid-area: head;
        text-align: center;
        margin: 1em;
        margin-top:2em;
        font-size: 30px;
        color:white;
    }

/*mid||||||||||||||||||||||||||||||||||||||||||*/
#mid {
    grid-area: mid;
    background-color: whitesmoke;
    display: grid;
    color: grey;
    margin:2em 0em 2em 0em;
    grid-template-columns:1fr;
    grid-template-areas:
        "Statement"
        "hline"
        "content"
        "account";
}

.inputStyle {
    width: 250px;
    height: 2em;
    border: 0;
    background: transparent;
    border-bottom: 1px solid #ccc;
}
.Statement {
    display: grid;
    grid-area: Statement;
    grid-template-areas:"S1 S2";
    margin-bottom:1em;
}

    .S1{
        grid-area:S1;
        margin-left:23.5em;
    }

    .S2 {
        grid-area:S2;
    }
.content{
    display:grid;
    margin-top:1em;
    grid-area:content;
    grid-template-areas:"log vline nolog"
}
.log {
    grid-area: log;
    justify-self: right;
}

.nolog {
    grid-area: nolog;
    justify-self: left;
    
}
.log>*{
    margin-top: 1em;
}
.nolog > * {
    margin-top: 1em;
}

    .btnVolg{
        padding:1em;
        background-color:#5d6675;
        border:0;
        color:whitesmoke;
        width:250px;
    }
        .btnVolg:hover {
            background-color: grey;
            transition:0.5s;
        }

.divStyle {
    padding: 0em 1em 1em 1em;
}
.divStyle>*{
    margin-top:1em;
}

.account{
    grid-area:account;
    margin-top:1em;
    text-align:center;
    margin-bottom:1.5em;
}
.account>*{
    margin-top:1em;
}

.BiggerText{
    font-size:26px;
}

.BigText {
    font-size: 22px;
}
    
/*footer||||||||||||||||||||||||||||||||||||||||||*/
#footer {
    grid-area: footer;
    background-color: #5d6675;
    display:grid;
    grid-template-columns:repeat(4,1fr);
    padding: 3em 11em 3em 11em;
    color:ghostwhite;
}




