body {margin:0px;
      background-color:whitesmoke;
}

.grid-container {
    display:grid;
    grid-auto-rows:minmax(60px,auto);
    background-image: url("icons MHE/bg3.jpg");
    font-family:Arial;
    grid-template-areas: 
        "navbar" 
        "top" 
        "mid" 
        "footer";
}

hr {
    display: block;
    height:1px;
    width:70%;
    border: 0;
    border-top: 1px solid #ccc;
    padding:1px;
}

hr2 {
    display: block;
    height: 1px;
    width: 100%;
    border: 0;
    border-top: 1px solid grey;
    padding: 1px;
    margin-top: 1em;
    margin-bottom: 1em;
}

a { color:white;
    border:0;
    text-decoration:none;
}

icontext{color:grey;}

/*navbar||||||||||||||||||||||||||||||||||||||||||*/
#navbar {
    position: fixed;
    top: 0;
    width: 100%;
    grid-area: navbar;
    background-color: #081D20;
    color: white;
    grid-auto-rows: minmax(60px,80px);
    align-items: center;
    display: grid;
    grid-template-areas: ". . logoDropdowns . . search buttons .";
}

    .logoDropdowns {
		grid-area: logoDropdowns;
		align-items:flex-end;
	}
	
	.logoDropdowns > * {
		margin-right: 1em;
	}
	
		.logo {
			font-size: 36px;
			position: center;
		}

	.dropdown {
		position: relative;
		display: inline-block;
	}

		.dropbtn {
			background-color: #081D20;
			color: white;
			padding: 8px;
            margin-bottom:5px;
			font-size: 16px;
			border: none;
            border-radius:4px;
			width: 120px;
		}

        .dropdown:hover .dropbtn {
            background-color: #0c3135;
}

			.dropdown-content {
				display: none;
				position: absolute;
				background-color: #f1f1f1;
				min-width: 160px;
				box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
				z-index: 1;
			}

				.dropdown-content a {
					color: black;
					padding: 12px 16px;
					text-decoration: none;
					display: block;
					background-color: white;
				}

				.dropdown-content a:hover {background-color: #ddd}

				.dropdown:hover .dropdown-content {
					display: block;
				}

	
	.search {
        grid-area: search;
        height:35px;
        border:none;
        border-radius:14px;
    }

    .buttons {
        grid-area: buttons;
        margin-left:2em;
        display:grid;
        grid-template-columns:1fr 3fr;
    }
	
        .navImg { width:35px;
                  height:35px;
        }
        .navImgText{
            font-size:12px;
        }

/*top||||||||||||||||||||||||||||||||||||||||||*/
#top {
    display: grid;
    grid-area: top;
    background-color: #5d6675;
    background: linear-gradient(to left, #0c3135, transparent), url("icons MHE/bg3.jpg");
    color: white;
    grid-template-areas: ". Head . . TenT . ."
}
    
.Head {
    display: grid;
    grid-area: Head;
    grid-template-areas: "left right";
    margin-top: 2em;
    margin-bottom: 1em;
    margin-left:4em;
    color: white;
}

    .wwimg{grid-area:left;
    }
    .wwimg>*{
        width:150px;
        height:150px;
        margin-left:3em;
    }
.wwtext {
    grid-area: right;
    margin-top: 2.1em;
    font-size: 30px;
}
.TenT {
    text-align: end;
    grid-area: TenT;
    margin-top: 5.1em;
    margin-bottom: 1em;
    margin-left:10em;
    color: white;
}
.btnVolg {
    padding: .3em 2.6em .3em 2.6em;
    font-size: 20px;
    background-color: darkgrey;
    border: 0;
    margin-top:.5em;
    border-radius:4px;
}

    .btnVolg:hover {
        background-color:grey;
        transition: 0.5s;
    }



/*mid||||||||||||||||||||||||||||||||||||||||||*/
#mid {
    grid-area: mid;
    background-color: whitesmoke;
    color: grey;
}

.product {
    display: grid;
    grid-template-columns:15em .75fr 1fr 1fr .5fr 1fr 1.1fr 1fr 15em;
    grid-template-areas:
        ". productimg productnaam winkelnaam aantal verwijder . prijs ."
}
    .productimg {
        grid-area: productimg;
        margin-right:2px;
    }
        .productimg>*{
            height:100px;
            width:auto;
        }
    .productnaam {
        grid-area: productnaam;
        margin-top:1em;
    }
    .winkelnaam {
        grid-area: winkelnaam;
        margin-top: 1em;
    }
    .aantal {
        grid-area: aantal;
        margin-top: 1em;
    }
    .aantalSelect{
        width:3.1em;
        border:none;
        background-color:whitesmoke;
    }
    .verwijder {
        grid-area: verwijder;
        padding: 5px;
        margin-top: 1em;
    }
    .trashcan{
        height:30px;
        width:30px;
    }
    .prijs {
        grid-area: prijs;
        margin-top: 1em;
        text-align:right;
        margin-right:1em;
    }

.optelsom {
    background-color: lightgrey;
    margin: 0em 15em 2em 15em;
    margin-bottom: 2em;
    padding: 1em;
    color: grey;
    display: grid;
    grid-template-areas: "text . kosten";
}
    .hebjealles{
        grid-area:text;
    }

    .kosten{
        grid-area:kosten;
        justify-self:end;
    }

        .prijskosten{
            float:right;
        }

/*footer||||||||||||||||||||||||||||||||||||||||||*/
#footer {
    grid-area: footer;
    background: linear-gradient(to left, #0c3135, transparent), url("icons MHE/bg2.jpg");
    background-color: #081D20;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    padding: 3em 11em 3em 11em;
    color: ghostwhite;
}




